// htmlColors
$mainColor: #24967b;
$navBarColor: #21846d;
// end of htmlColors
header{
  background-color: $mainColor;
  padding-top: 3.2em;
  padding-bottom: 3.2em;
  h1{text-align: center; color: #ffffff; }
}


div[class="navbar"] {
  overflow: hidden;
  background-color: $navBarColor;
  top: 0;
  .links a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 14px;
      text-decoration: none;
      font-size: 17px;
    }
}


footer{
  background-color: $mainColor;
  padding-top: 2em;
  padding-bottom: 2em;
  p{text-align: center; color: white; line-height: 5px}
}
