
div[id="box"]{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  #inputfeilds{
  #searchbar{width: 20%; outline: none;}
    p{line-height: 0px}
  }
}
h4{text-align: center; cursor: pointer;}
p{text-align: center;}
