// HTML Colors
$mainColor: #24967b;
$textColor: #666666;
// end of HTML Colors
#postContainer{margin-left: 40px;}
div[class="box"]{
  overflow: hidden;
  width: 310px;
  height: 390px;
  border: 1px solid black;
  margin: 15px;
  border-radius: 10px;
  border-color: #cccccc;
  img{
    width: 100%;
    height: 78%;
    cursor: pointer;
  }
  h4{text-align: center; color: $textColor; line-height: 15px; margin-top: 0px}
  p{text-align: center; color: $textColor; line-height: 15px; margin-top: 0px}
}
div[class="inputBox"]{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 350px;
  input{margin-top: 10px; margin-bottom: 10px; width: 50%}
  button{margin-top: 10px; margin-bottom: 10px;}
}
