div[class="imageBox"]{
  width: auto;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #333333;
  img{
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

div[class="commentSection"]{
  margin: 10px;
  margin-left: 00px;
  input{
    float: left;
    width: 60%;
  }
}

div[class="postDetails"]{

}

@media only screen and (max-width: 320px) {
  div[class="imageBox"]{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    img{
      height: 100%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}
